src/flows/EconDev_onCreate_Funding_Program_Roll_Up_Trigger.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Add_Awarded_Amounts</name>
        <label>Add Awarded Amounts</label>
        <locationX>597</locationX>
        <locationY>61</locationY>
        <assignmentItems>
            <assignToReference>varTotalAwarded</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Funding_Requests.outfunds__Awarded_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAwardedCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Funding_Requests</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Awarded_Amounts_0</name>
        <label>Add Awarded Amounts</label>
        <locationX>601</locationX>
        <locationY>558</locationY>
        <assignmentItems>
            <assignToReference>varPipelineAmount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Funding_Requests.outfunds__Requested_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPipelineCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Funding_Requests</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>What_is_the_funding_request_status</name>
        <label>What is the funding request status?</label>
        <locationX>516</locationX>
        <locationY>312</locationY>
        <defaultConnector>
            <targetReference>Loop_through_Funding_Requests</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>In_Pipeline</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_Funding_Requests.outfunds__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Submitted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_through_Funding_Requests.outfunds__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Progress</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_through_Funding_Requests.outfunds__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Review</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Awarded_Amounts_0</targetReference>
            </connector>
            <label>In Pipeline</label>
        </rules>
        <rules>
            <name>Awarded</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_Funding_Requests.outfunds__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Awarded</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_through_Funding_Requests.outfunds__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fully Disbursed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Awarded_Amounts</targetReference>
            </connector>
            <label>Awarded</label>
        </rules>
    </decisions>
    <description>Rolls up funding request amounts into the parent funding program</description>
    <interviewLabel>EconDev onCreate - Funding Program Roll Up Trigger {!$Flow.CurrentDateTime}</interviewLabel>
    <label>EconDev onCreate - Funding Request - Funding Program Roll Up Trigger</label>
    <loops>
        <name>Loop_through_Funding_Requests</name>
        <label>Loop through Funding Requests</label>
        <locationX>337</locationX>
        <locationY>306</locationY>
        <collectionReference>Get_Funding_Requests</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>What_is_the_funding_request_status</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Funding_Program</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Funding_Requests</name>
        <label>Get Funding Requests</label>
        <locationX>176</locationX>
        <locationY>306</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Funding_Requests</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>outfunds__FundingProgram__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.outfunds__FundingProgram__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>outfunds__Funding_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Funding_Program</name>
        <label>Update Funding Program</label>
        <locationX>170</locationX>
        <locationY>545</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.outfunds__FundingProgram__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Requested_Pipeline_Amount__c</field>
            <value>
                <elementReference>varPipelineAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Requested_Pipeline_Count__c</field>
            <value>
                <elementReference>varPipelineCount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Awarded_Count__c</field>
            <value>
                <elementReference>varAwardedCount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Awarded_Funds__c</field>
            <value>
                <elementReference>varTotalAwarded</elementReference>
            </value>
        </inputAssignments>
        <object>outfunds__Funding_Program__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Funding_Requests</targetReference>
        </connector>
        <object>outfunds__Funding_Request__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varAwardedCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varPipelineAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varPipelineCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varTotalAwarded</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
