src/flows/EconDev_Run_Background_Check.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <description>Performs a background check on the opportunity and account</description>
    <interviewLabel>EconDev Run Background Check {!$Flow.CurrentDateTime}</interviewLabel>
    <label>EconDev Run Background Check</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create</name>
        <label>Create Circuit Court Check</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <connector>
            <targetReference>Create_State_Business_Registry_Check</targetReference>
        </connector>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason__c</field>
            <value>
                <stringValue>2000-MAY-05: 532-12 State vs Constituent - 5321.24a Speeding</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Result__c</field>
            <value>
                <stringValue>Caution</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Circuit Court</stringValue>
            </value>
        </inputAssignments>
        <object>Background_Check__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Background_com_Check</name>
        <label>Create Background.com Check</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>Create_D_B_Check</targetReference>
        </connector>
        <inputAssignments>
            <field>Accepted__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Result__c</field>
            <value>
                <stringValue>Clear</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Background.com</stringValue>
            </value>
        </inputAssignments>
        <object>Background_Check__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_D_B_Check</name>
        <label>Create D&amp;B Check</label>
        <locationX>176</locationX>
        <locationY>878</locationY>
        <inputAssignments>
            <field>Accepted__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Result__c</field>
            <value>
                <stringValue>Clear</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>D&amp;B</stringValue>
            </value>
        </inputAssignments>
        <object>Background_Check__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_DOR_Check</name>
        <label>Create DOR Check</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>Create_Background_com_Check</targetReference>
        </connector>
        <inputAssignments>
            <field>Accepted__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Result__c</field>
            <value>
                <stringValue>Clear</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Dept of Revenue</stringValue>
            </value>
        </inputAssignments>
        <object>Background_Check__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_State_Business_Registry_Check</name>
        <label>Create State Business Registry Check</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>Create_DOR_Check</targetReference>
        </connector>
        <inputAssignments>
            <field>Accepted__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Result__c</field>
            <value>
                <stringValue>Clear</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>State Business Registry</stringValue>
            </value>
        </inputAssignments>
        <object>Background_Check__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <screens>
        <name>Run_Background_Check</name>
        <label>Run Background Check</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Running_Background_Checks</targetReference>
        </connector>
        <fields>
            <name>RunBackgroundCheckInfo</name>
            <fieldText>&lt;p&gt;You are about to run a background check on this organization and its officers. Please select which background checks to run.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>State_Circuit_Court</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>true</booleanValue>
            </defaultValue>
            <fieldText>State Circuit Court</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>State_Business_Registry</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>true</booleanValue>
            </defaultValue>
            <fieldText>State Business Registry</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Department_of_Revenue</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>true</booleanValue>
            </defaultValue>
            <fieldText>Department of Revenue</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Background_com_Services</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>true</booleanValue>
            </defaultValue>
            <fieldText>Background.com Services</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Duns_Bradstreet</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>true</booleanValue>
            </defaultValue>
            <fieldText>Duns &amp; Bradstreet</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Running_Background_Checks</name>
        <label>Running Background Checks</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create</targetReference>
        </connector>
        <fields>
            <name>runningchecks</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Now running background checks. Please wait 🤚.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Running_Background_Checks_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Running_Background_Checks_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>circuitcourt</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Circuit Court&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Running_Background_Checks_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>progress1</name>
                    <fieldText>&lt;p&gt;&lt;img src=&quot;https://econdev2123321--c.documentforce.com/sfc/servlet.shepherd/version/download/0684W000007hve0?asPdf=false&amp;amp;operationContext=CHATTER&quot;&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Running_Background_Checks_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Running_Background_Checks_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>bizregistry</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;State Business Registry&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Running_Background_Checks_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>progress2</name>
                    <fieldText>&lt;p&gt;&lt;img src=&quot;https://econdev2123321--c.documentforce.com/sfc/servlet.shepherd/version/download/0684W000007hvrS?asPdf=false&amp;amp;operationContext=CHATTER&quot;&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Running_Background_Checks_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Running_Background_Checks_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>dor</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Department of Revenue&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Running_Background_Checks_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>progress3</name>
                    <fieldText>&lt;p&gt;&lt;img src=&quot;https://econdev2123321--c.documentforce.com/sfc/servlet.shepherd/version/download/0684W000007hvj1?asPdf=false&amp;amp;operationContext=CHATTER&quot;&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Running_Background_Checks_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Running_Background_Checks_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Background</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Background Check Service&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Running_Background_Checks_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>progress4</name>
                    <fieldText>&lt;p&gt;&lt;img src=&quot;https://econdev2123321--c.documentforce.com/sfc/servlet.shepherd/version/download/0684W000007hvvp?asPdf=false&amp;amp;operationContext=CHATTER&quot;&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Running_Background_Checks_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Running_Background_Checks_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>duns</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Duns &amp;amp; Bradstreet&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Running_Background_Checks_Section5_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>progress5</name>
                    <fieldText>&lt;p&gt;&lt;img src=&quot;https://econdev2123321--c.documentforce.com/sfc/servlet.shepherd/version/download/0684W000007hvw4?asPdf=false&amp;amp;operationContext=CHATTER&quot;&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Run_Background_Check</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
