src/flows/EconDev_Funding_Request_Roll_Up_Delete_Trigger.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Add_Amounts_Jobs</name>
        <label>Add Amounts &amp; Jobs</label>
        <locationX>520</locationX>
        <locationY>526</locationY>
        <assignmentItems>
            <assignToReference>varOpportunityAmount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Funding_Requests.outfunds__Requested_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTotalSalaryActual</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Funding_Requests.Average_Salary_Actual__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTotalSalaryEstimated</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Funding_Requests.Average_Salary_Estimated__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varJobsCreatedActual</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Funding_Requests.Jobs_Created_Actual__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varJobsCreatedEstimate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Funding_Requests.Jobs_Created_Estimated__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varJobsRetainedActual</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Funding_Requests.Jobs_Retained_Actual__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varJobsRetainedEstimated</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Funding_Requests.Jobs_Retained_Estimated__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Funding_Requests</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Amounts_Jobs_0</name>
        <label>Add Amounts &amp; Jobs</label>
        <locationX>681</locationX>
        <locationY>307</locationY>
        <assignmentItems>
            <assignToReference>varOpportunityAmount</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>$Record.outfunds__Recommended_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTotalSalaryActual</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>$Record.Average_Salary_Actual__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTotalSalaryEstimated</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>$Record.Average_Salary_Estimated__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varJobsCreatedActual</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>$Record.Jobs_Created_Actual__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varJobsCreatedEstimate</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>$Record.Jobs_Created_Estimated__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varJobsRetainedActual</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>$Record.Jobs_Retained_Actual__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varJobsRetainedEstimated</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>$Record.Jobs_Retained_Estimated__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>How_many_records</name>
        <label>How many records</label>
        <locationX>351</locationX>
        <locationY>306</locationY>
        <assignmentItems>
            <assignToReference>varCountofRecords</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Funding_Requests</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Funding_Requests</targetReference>
        </connector>
    </assignments>
    <formulas>
        <name>fxAverageSalaryActual</name>
        <dataType>Currency</dataType>
        <expression>{!varTotalSalaryActual}/{!varCountofRecords}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>fxTotalSalaryEstimated</name>
        <dataType>Currency</dataType>
        <expression>{!varTotalSalaryEstimated}/{!varCountofRecords}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>EconDev Funding Request Roll Up Delete Trigger {!$Flow.CurrentDateTime}</interviewLabel>
    <label>EconDev onDelete - Funding Request - Opportunity Roll Up</label>
    <loops>
        <name>Loop_through_Funding_Requests</name>
        <label>Loop through Funding Requests</label>
        <locationX>518</locationX>
        <locationY>306</locationY>
        <collectionReference>Get_Funding_Requests</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Amounts_Jobs</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Add_Amounts_Jobs_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Funding_Requests</name>
        <label>Get Funding Requests</label>
        <locationX>176</locationX>
        <locationY>306</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>How_many_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>outfunds__Funding_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opportunity</name>
        <label>Update Opportunity</label>
        <locationX>829</locationX>
        <locationY>307</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>varOpportunityAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Average_Salary_Created_Actual__c</field>
            <value>
                <elementReference>fxAverageSalaryActual</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Average_Salary_Created_Estimated__c</field>
            <value>
                <elementReference>fxTotalSalaryEstimated</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Jobs_Created_Actual__c</field>
            <value>
                <elementReference>varJobsCreatedActual</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Jobs_Created_Estimated__c</field>
            <value>
                <elementReference>varJobsCreatedEstimate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Jobs_Retained_Actual__c</field>
            <value>
                <elementReference>varJobsRetainedActual</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Jobs_Retained_Estimated__c</field>
            <value>
                <elementReference>varJobsRetainedEstimated</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Funding_Requests</targetReference>
        </connector>
        <object>outfunds__Funding_Request__c</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>varCountofRecords</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varJobsCreatedActual</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varJobsCreatedEstimate</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varJobsRetainedActual</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varJobsRetainedEstimated</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varOpportunityAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varTotalSalaryActual</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varTotalSalaryEstimated</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
