src/flows/EconDev_Application.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Navigate_to_Home</name>
        <label>Navigate to Home</label>
        <locationX>2435</locationX>
        <locationY>686</locationY>
        <actionName>c:navigateEverywhereLFA</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>destinationName</name>
            <value>
                <stringValue>home</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationType</name>
            <value>
                <stringValue>NamedPage</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Add_Funding_Requests_to_Collection</name>
        <label>Add Funding Requests to Collection</label>
        <locationX>2081</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>varFundingRequeststoCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varFundingRequest</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Programs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_Funding_Request</name>
        <label>Build Funding Request</label>
        <locationX>2081</locationX>
        <locationY>319</locationY>
        <assignmentItems>
            <assignToReference>varFundingRequest.Average_Salary_Estimated__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Estimated_Average_Wages</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFundingRequest.outfunds__FundingProgram__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Programs.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFundingRequest.Jobs_Created_Estimated__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Estimated_Jobs_to_be_Created</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFundingRequest.Jobs_Retained_Estimated__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Estimated_Jobs_to_be_Retained</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFundingRequest.outfunds__Requested_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Requested_Amount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFundingRequest.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Opportunity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFundingRequest.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!Get_Account.Name} - {!Loop_Through_Programs.Name}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFundingRequest.outfunds__Application_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fxToday</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFundingRequest.outfunds__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFundingRequest.outfunds__Applying_Organization__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFundingRequest.outfunds__Applying_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.ContactId__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Funding_Requests_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set all valued for varFundingRequest to Null</description>
        <name>Null_varFundingRequest</name>
        <label>Null varFundingRequest</label>
        <locationX>1926</locationX>
        <locationY>320</locationY>
        <assignmentItems>
            <assignToReference>varFundingRequest.Average_Salary_Estimated__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFundingRequest.outfunds__FundingProgram__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFundingRequest.Jobs_Created_Estimated__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFundingRequest.Jobs_Retained_Estimated__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFundingRequest.outfunds__Requested_Amount__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFundingRequest.Opportunity__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFundingRequest.Name</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFundingRequest.outfunds__Application_Date__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFundingRequest.outfunds__Status__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFundingRequest.outfunds__Applying_Organization__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Build_Funding_Request</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Account_ID</name>
        <label>Set Account ID</label>
        <locationX>720</locationX>
        <locationY>344</locationY>
        <assignmentItems>
            <assignToReference>Get_Account.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Account</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Account.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Entity_Legal_Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Error_to_True</name>
        <label>Set Error to True</label>
        <locationX>455</locationX>
        <locationY>1074</locationY>
        <assignmentItems>
            <assignToReference>varIsError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Key_Individuals</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_SiteId_Variable</name>
        <label>Set SiteId Variable</label>
        <locationX>1500</locationX>
        <locationY>694</locationY>
        <assignmentItems>
            <assignToReference>varSelectedSite</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Selected_Sites</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Selected_Sites</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>PrivatelyOwned</name>
        <choiceText>Privately Owned</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Privately Owned</stringValue>
        </value>
    </choices>
    <choices>
        <name>PubliclyTraded</name>
        <choiceText>Publicly Traded</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Publicly Traded</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <description>Needs a first and last name</description>
        <name>CEO_Completed</name>
        <label>CEO Completed?</label>
        <locationX>528</locationX>
        <locationY>889</locationY>
        <defaultConnector>
            <targetReference>Create_CEO_Opportunity_Roles</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No_CEO</name>
            <conditionLogic>(1 and 2) OR 3 OR 4 or (5 or 6)</conditionLogic>
            <conditions>
                <leftValueReference>CEO_FirstName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CEO_Last_Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CEO_FirstName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CEO_Last_Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CEO_FirstName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CEO_Last_Name</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Error_to_True</targetReference>
            </connector>
            <label>No CEO</label>
        </rules>
    </decisions>
    <decisions>
        <description>Needs a first and last name</description>
        <name>CFO_Completed_0</name>
        <label>CFO Completed?</label>
        <locationX>662</locationX>
        <locationY>985</locationY>
        <defaultConnector>
            <targetReference>Create_CFO_Opportunity_Roles</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No_CFO</name>
            <conditionLogic>(1 and 2) OR 3 OR 4 or (5 or 6)</conditionLogic>
            <conditions>
                <leftValueReference>CFO_FirstName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CFO_Last_Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CFO_FirstName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CFO_Last_Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CFO_FirstName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CFO_Last_Name</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Error_to_True</targetReference>
            </connector>
            <label>No CFO</label>
        </rules>
    </decisions>
    <decisions>
        <description>Needs a first and last name</description>
        <name>COO_Completed</name>
        <label>COO Completed?</label>
        <locationX>799</locationX>
        <locationY>1084</locationY>
        <defaultConnector>
            <targetReference>Create_COO_Opportunity_Roles_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No_COO</name>
            <conditionLogic>(1 and 2) OR 3 OR 4 or (5 or 6)</conditionLogic>
            <conditions>
                <leftValueReference>COO_FirstName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>COO_Last_Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>COO_FirstName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>COO_Last_Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>COO_FirstName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>COO_Last_Name</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Error_to_True</targetReference>
            </connector>
            <label>No COO</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_the_account_exist</name>
        <label>Does the account exist</label>
        <locationX>448</locationX>
        <locationY>338</locationY>
        <defaultConnector>
            <targetReference>Create_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesAccountExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account.Id</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Create_Opportunity</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Needs a first and last name</description>
        <name>Incentive_Manager_Completed</name>
        <label>Incentive Manager Completed?</label>
        <locationX>932</locationX>
        <locationY>1213</locationY>
        <defaultConnector>
            <targetReference>Create_Incentive_Manager_Opportunity_Roles</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No_Incentive_Manager</name>
            <conditionLogic>(1 and 2) OR 3 OR 4 or (5 or 6)</conditionLogic>
            <conditions>
                <leftValueReference>Incentive_ManagerFirstName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Incentive_Manager_Last_Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Incentive_ManagerFirstName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Incentive_Manager_Last_Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Incentive_ManagerFirstName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Incentive_Manager_Last_Name</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Error_to_True</targetReference>
            </connector>
            <label>No Incentive Manager</label>
        </rules>
    </decisions>
    <decisions>
        <name>Search_for_Sites</name>
        <label>Search for Sites</label>
        <locationX>1132</locationX>
        <locationY>505</locationY>
        <defaultConnector>
            <targetReference>Economic_Impact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_build_site</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Would_you_like_to_include_a_build_ready_site_in_your_application</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PropertySiteSearchScreen</targetReference>
            </connector>
            <label>Yes, build site</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>OpportunitySector</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Sector__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>fxToday</name>
        <dataType>Date</dataType>
        <expression>today()</expression>
    </formulas>
    <interviewLabel>EconDev Application {!$Flow.CurrentDateTime}</interviewLabel>
    <label>EconDev Application</label>
    <loops>
        <name>Loop_Selected_Sites</name>
        <label>Loop Selected Sites</label>
        <locationX>1303</locationX>
        <locationY>694</locationY>
        <collectionReference>varSelectedSites</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_SiteId_Variable</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Economic_Impact</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Programs</name>
        <label>Loop Through Programs</label>
        <locationX>1835</locationX>
        <locationY>503</locationY>
        <collectionReference>varSelectedPrograms</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>scrJobEstimates</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Funding_Requests</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Account</name>
        <label>Create Account</label>
        <locationX>589</locationX>
        <locationY>336</locationY>
        <connector>
            <targetReference>Set_Account_ID</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Entity_Legal_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCity</field>
            <value>
                <elementReference>EntityAddress.city</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingPostalCode</field>
            <value>
                <elementReference>EntityAddress.postalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingState</field>
            <value>
                <elementReference>EntityAddress.province</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingStreet</field>
            <value>
                <elementReference>EntityAddress.street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tax_ID__c</field>
            <value>
                <elementReference>Entity_Tax_ID</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Activity</name>
        <label>Create Activity</label>
        <locationX>681</locationX>
        <locationY>547</locationY>
        <connector>
            <targetReference>Key_Individuals</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>fxToday</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Application Submitted</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Create_Opportunity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$User.ContactId__c</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Additional_Funds</name>
        <label>Create Additional Funds</label>
        <locationX>2028</locationX>
        <locationY>686</locationY>
        <connector>
            <targetReference>scrThank_You</targetReference>
        </connector>
        <inputAssignments>
            <field>Amount__c</field>
            <value>
                <elementReference>Additional_Funds</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Developer</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>Create_Opportunity</elementReference>
            </value>
        </inputAssignments>
        <object>Additional_Fund__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Funding_Requests</name>
        <label>Create Funding Requests</label>
        <locationX>1836</locationX>
        <locationY>686</locationY>
        <connector>
            <targetReference>Create_Additional_Funds</targetReference>
        </connector>
        <inputReference>varFundingRequeststoCreate</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Opportunity</name>
        <label>Create Opportunity</label>
        <locationX>455</locationX>
        <locationY>531</locationY>
        <connector>
            <targetReference>Create_Activity</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>Project_Completion_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ForecastCategoryName</field>
            <value>
                <stringValue>Omitted</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>{!Entity_Legal_Name} - {!Project_Name}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project_Name__c</field>
            <value>
                <elementReference>Project_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sector__c</field>
            <value>
                <elementReference>OpportunitySector</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Qualification</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Find the account name that matches the legal entity name.</description>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>457</locationX>
        <locationY>200</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_the_account_exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Entity_Legal_Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Funding_Programs</name>
        <label>Get Funding Programs</label>
        <locationX>1550</locationX>
        <locationY>503</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>scrSelectPrograms</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>outfunds__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In progress</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>outfunds__Funding_Program__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opportunity_with_Application_Data</name>
        <label>Update Opportunity with Application Data</label>
        <locationX>1412</locationX>
        <locationY>336</locationY>
        <connector>
            <targetReference>Get_Funding_Programs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Opportunity</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Addressed_Economic_Conditions__c</field>
            <value>
                <elementReference>Economic_Conditions</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Are_all_funds_committed__c</field>
            <value>
                <elementReference>Are_all_funds_available</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Capability_to_administer_this_project__c</field>
            <value>
                <elementReference>Capabilities</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Define_the_project_region__c</field>
            <value>
                <elementReference>Project_Region</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Describe_the_Economic_Impacts__c</field>
            <value>
                <elementReference>Economic_Impact_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Describe_the_scope_of_work__c</field>
            <value>
                <elementReference>Scope_of_Work</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Diversity_Goals__c</field>
            <value>
                <elementReference>Diversity_Inclusion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Identify_the_proposed_time_line__c</field>
            <value>
                <elementReference>Project_Timeline</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project_Strategic_Investors__c</field>
            <value>
                <elementReference>Strategic_Partners</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Site__c</field>
            <value>
                <elementReference>varSelectedSite</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Economic_Impact</name>
        <label>Economic Impact</label>
        <locationX>1342</locationX>
        <locationY>502</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Opportunity_with_Application_Data</targetReference>
        </connector>
        <fields>
            <name>Economic_Impact_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Economic_Impact_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>txtEconomicImpact</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(51, 51, 51); font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;Describe the economic impact of the project. &lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Economic_Impact_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Economic_Impact_Description</name>
                    <defaultValue>
                        <stringValue>Overall this facility will bring several hundred jobs to the area.</stringValue>
                    </defaultValue>
                    <fieldText>Economic Impact</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Economic_Impact_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Economic_Impact_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>txtStrategicOrganization</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(51, 51, 51);&quot;&gt;List and describe strategic partners and organizations engaged in the project.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Economic_Impact_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Strategic_Partners</name>
                    <defaultValue>
                        <stringValue>Our land developers include Eastern Associates and the Local Tech College System.</stringValue>
                    </defaultValue>
                    <fieldText>Strategic Partners</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Economic_Impact_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Economic_Impact_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>txtUnencumbered</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(51, 51, 51);&quot;&gt; Are all funds committed to the project available as needed, and not conditioned or encumbered in any way? &lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Economic_Impact_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Are_all_funds_available</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>Yes</defaultSelectedChoiceReference>
                    <fieldText>Are all funds available?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Economic_Impact_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Economic_Impact_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>txtAdditionalFunds</name>
                    <fieldText>&lt;p&gt;Please enter the total amount of all private funds coming from yourself, partners and organizations for this project.&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Economic_Impact_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Additional_Funds</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <numberValue>2500000.0</numberValue>
                    </defaultValue>
                    <fieldText>Additional Funds</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Key_Individuals</name>
        <label>Key Individuals</label>
        <locationX>456</locationX>
        <locationY>677</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CEO_Completed</targetReference>
        </connector>
        <fields>
            <name>txt</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(255, 0, 0);&quot;&gt;⚠️Error: Names must have both a first name and last name.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>varIsError</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>txtKeyIndividuals</name>
            <fieldText>&lt;p&gt;Please enter key individuals for the project. Please enter people who&apos;s title closest represents the titles below.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>txtOfficers</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Officers&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Key_Individuals_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Key_Individuals_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CEO_FirstName</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Audrie</stringValue>
                    </defaultValue>
                    <fieldText>CEO First Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Key_Individuals_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CEO_Last_Name</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Copelli</stringValue>
                    </defaultValue>
                    <fieldText>CEO Last Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Key_Individuals_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Key_Individuals_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CFO_FirstName</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Vanessa</stringValue>
                    </defaultValue>
                    <fieldText>CFO First Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Key_Individuals_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CFO_Last_Name</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Lopez</stringValue>
                    </defaultValue>
                    <fieldText>CFO Last Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Key_Individuals_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Key_Individuals_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>COO_FirstName</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Lucas</stringValue>
                    </defaultValue>
                    <fieldText>COO First Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Key_Individuals_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>COO_Last_Name</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Dragoe</stringValue>
                    </defaultValue>
                    <fieldText>COO Last Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Key_Individuals_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Key_Individuals_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Incentive_ManagerFirstName</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Paula</stringValue>
                    </defaultValue>
                    <fieldText>Incentive Manager First Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Key_Individuals_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Incentive_Manager_Last_Name</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Compañera</stringValue>
                    </defaultValue>
                    <fieldText>Incentive Manager Last Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>txtKeyOwners</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Key Owners&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Is_entity_publicly_traded_or_privately_owned</name>
            <choiceReferences>PubliclyTraded</choiceReferences>
            <choiceReferences>PrivatelyOwned</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Is entity publicly traded or privately owned</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Stock_Ticker_Symbol</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>CRM</stringValue>
            </defaultValue>
            <fieldText>Stock Ticker Symbol</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Is_entity_publicly_traded_or_privately_owned</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>PubliclyTraded</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Key_Individuals_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Key_Individuals_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Owner1LegalName</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Audrie Copelli</stringValue>
                    </defaultValue>
                    <fieldText>Owner Legal Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Is_entity_publicly_traded_or_privately_owned</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>PrivatelyOwned</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Key_Individuals_Section5_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Ownership_Percentage1</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <numberValue>50.0</numberValue>
                    </defaultValue>
                    <fieldText>Ownership Percentage</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Is_entity_publicly_traded_or_privately_owned</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>PrivatelyOwned</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Add_Another_Owner1</name>
            <dataType>Boolean</dataType>
            <fieldText>Add Another Owner</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Is_entity_publicly_traded_or_privately_owned</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>PrivatelyOwned</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Key_Individuals_Section6</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Key_Individuals_Section6_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Owner2LegalName</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Curt Hatchetti</stringValue>
                    </defaultValue>
                    <fieldText>Owner Legal Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Add_Another_Owner1</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Key_Individuals_Section6_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Ownership_Percentage2</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <numberValue>50.0</numberValue>
                    </defaultValue>
                    <fieldText>Ownership Percentage</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Add_Another_Owner1</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>AddAnotherOwner2</name>
            <dataType>Boolean</dataType>
            <fieldText>Add Another Owner</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Add_Another_Owner1</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Key_Individuals_Section7</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Key_Individuals_Section7_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Owner3LegalName</name>
                    <dataType>String</dataType>
                    <fieldText>Owner Legal Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>AddAnotherOwner2</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Key_Individuals_Section7_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Ownership_Percentage3</name>
                    <dataType>String</dataType>
                    <fieldText>Ownership Percentage</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>AddAnotherOwner2</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Project_Information</name>
        <label>Project Information</label>
        <locationX>1006</locationX>
        <locationY>503</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Search_for_Sites</targetReference>
        </connector>
        <fields>
            <name>txtProjectInformation</name>
            <fieldText>&lt;p&gt;Please enter specific information about your project.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Project_Information_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Project_Information_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>txtProjectRegion</name>
                    <fieldText>&lt;p&gt;Define and describe the region the project is located.&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Project_Information_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Project_Region</name>
                    <defaultValue>
                        <stringValue>We would like this facility to be located in the upper mid-west. Ideally the states of Wisconsin, Michigan or Minnesota.</stringValue>
                    </defaultValue>
                    <fieldText>Project Region</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Project_Information_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Project_Information_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>txtScopeofWork</name>
                    <fieldText>&lt;p&gt;Describe and outline the scope of work.&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Project_Information_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Scope_of_Work</name>
                    <defaultValue>
                        <stringValue>We would like this facility to be located in the upper mid-west. Ideally the states of Wisconsin, Michigan or Minnesota.</stringValue>
                    </defaultValue>
                    <fieldText>Scope of Work</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Project_Information_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Project_Information_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>txtEconomicConditions</name>
                    <fieldText>&lt;p&gt;Describe the economic conditions of the area this project will address.&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Project_Information_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Economic_Conditions</name>
                    <defaultValue>
                        <stringValue>After a major manufacturer has closed down, the area is in need of a major employer.</stringValue>
                    </defaultValue>
                    <fieldText>Economic Conditions</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Project_Information_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Project_Information_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>txtCapabilities</name>
                    <fieldText>&lt;p&gt;Describe the applicants capability to administer, implement and maintain this project.&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Project_Information_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Capabilities</name>
                    <defaultValue>
                        <stringValue>We have constructed and managed similarly sized facilities in Eastern Europe and South East Asia. After corporate headquarters in California this will the our 2nd largest faculty in North America.</stringValue>
                    </defaultValue>
                    <fieldText>Capabilities</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Project_Information_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Project_Information_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>txtTimeline</name>
                    <fieldText>&lt;p&gt;Identify the proposed timeline for the project. &lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Project_Information_Section5_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Project_Timeline</name>
                    <defaultValue>
                        <stringValue>18-24 months between groundbreaking and opening.</stringValue>
                    </defaultValue>
                    <fieldText>Project Timeline</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Project_Information_Section6</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Project_Information_Section6_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>txtDiversity</name>
                    <fieldText>&lt;p&gt;Describe how your project will enhance diversity and inclusion in the project area.&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Project_Information_Section6_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Diversity_Inclusion</name>
                    <defaultValue>
                        <stringValue>We are committed to equal opportunity employment and will conduct recruitment efforts throughout the region. Additionally we will provide fully compensated on the job training to all workers.</stringValue>
                    </defaultValue>
                    <fieldText>Diversity &amp; Inclusion</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Would_you_like_to_include_a_build_ready_site_in_your_application</name>
            <dataType>Boolean</dataType>
            <fieldText>Would you like to include a build-ready site in your application?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>PropertySiteSearchScreen</name>
        <label>PropertySiteSearchScreen</label>
        <locationX>1141</locationX>
        <locationY>694</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Loop_Selected_Sites</targetReference>
        </connector>
        <fields>
            <name>PropertySiteSearchDisplay</name>
            <fieldText>&lt;p&gt;Use the following options below to search for an existing property&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SiteSearchComponent</name>
            <extensionName>c:siteList</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>varSelectedSites</assignToReference>
                <name>selectedProperties</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scrEntityInfomation</name>
        <label>Entity Information</label>
        <locationX>315</locationX>
        <locationY>200</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
        <fields>
            <name>Entity_Legal_Name</name>
            <dataType>String</dataType>
            <fieldText>Entity Legal Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>EntityAddress</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>city</name>
                <value>
                    <stringValue>Anytown</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>country</name>
                <value>
                    <stringValue>US</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>postalCode</name>
                <value>
                    <stringValue>15234</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>province</name>
                <value>
                    <stringValue>WI</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>street</name>
                <value>
                    <stringValue>1152 Anystreet Dr</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Entity_Tax_ID</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>5123134-28</stringValue>
            </defaultValue>
            <fieldText>Entity Tax ID</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Project_Industry_Sector</name>
            <choiceReferences>OpportunitySector</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Project Industry Sector</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Project_Name</name>
            <dataType>String</dataType>
            <fieldText>Project Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Project_Completion_Date</name>
            <dataType>Date</dataType>
            <fieldText>Project Completion Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scrJobEstimates</name>
        <label>Job Estimates</label>
        <locationX>1740</locationX>
        <locationY>319</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Null_varFundingRequest</targetReference>
        </connector>
        <fields>
            <name>txtJobEstimates</name>
            <fieldText>&lt;p&gt;Enter job estimates for the {!Loop_Through_Programs.Name} program.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Requested_Amount</name>
            <dataType>Currency</dataType>
            <fieldText>Requested Amount</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Estimated_Jobs_to_be_Created</name>
            <dataType>Number</dataType>
            <fieldText>Estimated Jobs to be Created</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Estimated_Jobs_to_be_Retained</name>
            <dataType>Number</dataType>
            <fieldText>Estimated Jobs to be Retained</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Estimated_Average_Wages</name>
            <dataType>Currency</dataType>
            <fieldText>Estimated Average Wages</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scrSelectPrograms</name>
        <label>Select Programs</label>
        <locationX>1693</locationX>
        <locationY>503</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Loop_Through_Programs</targetReference>
        </connector>
        <fields>
            <name>txtSelectPrograms</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(51, 51, 51);&quot;&gt;Select one or more programs as part of your application .&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>tablePrograms</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>outfunds__Funding_Program__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatableV2</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name,outfunds__Description__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Funding_Programs</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFilters</name>
                <value>
                    <stringValue>All</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnLabels</name>
                <value>
                    <stringValue>1:Name,2:Description</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>singleRowSelection</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>varSelectedPrograms</assignToReference>
                <name>outputSelectedRows</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scrThank_You</name>
        <label>Thank You</label>
        <locationX>2254</locationX>
        <locationY>686</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Navigate_to_Home</targetReference>
        </connector>
        <fields>
            <name>txtThankYou</name>
            <fieldText>&lt;p&gt;Thank you for your application. You will receive notification as your application progresses.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Welcome</name>
        <label>Welcome</label>
        <locationX>176</locationX>
        <locationY>200</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>scrEntityInfomation</targetReference>
        </connector>
        <fields>
            <name>WelcomeText</name>
            <fieldText>&lt;p&gt;Thank you for your interest in our Economic Development Programs. To complete this application you will need the following information:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Company information and its officers.&lt;/li&gt;&lt;li&gt;Information about your project, its scope and time line. &lt;/li&gt;&lt;li&gt;Economic impact of the project&lt;/li&gt;&lt;li&gt;Articles of Incorporation or bylaws&lt;/li&gt;&lt;li&gt;Certificate of Good Standing &lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;b style=&quot;font-family: Arial; font-size: 11pt;&quot;&gt;All applicants &lt;/b&gt;&lt;span style=&quot;font-family: ArialMT; font-size: 11pt;&quot;&gt;for financial assistance must certify that federal funds have not been used and will not be used for lobbying in connection with this request for financial assistance&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Do_you_agree</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Do you agree</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Welcome</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_CEO_Opportunity_Roles</name>
        <label>Create CEO Opportunity Roles</label>
        <locationX>603</locationX>
        <locationY>678</locationY>
        <connector>
            <targetReference>CFO_Completed_0</targetReference>
        </connector>
        <flowName>EconDev_Subflow_Opportunity_Roles</flowName>
        <inputAssignments>
            <name>varAccountID</name>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFirstName</name>
            <value>
                <elementReference>CEO_FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varLastName</name>
            <value>
                <elementReference>CEO_Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varOpportunityId</name>
            <value>
                <elementReference>Create_Opportunity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varRole</name>
            <value>
                <stringValue>CEO</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Create_CFO_Opportunity_Roles</name>
        <label>Create CFO Opportunity Roles</label>
        <locationX>735</locationX>
        <locationY>677</locationY>
        <connector>
            <targetReference>COO_Completed</targetReference>
        </connector>
        <flowName>EconDev_Subflow_Opportunity_Roles</flowName>
        <inputAssignments>
            <name>varAccountID</name>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFirstName</name>
            <value>
                <elementReference>CFO_FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varLastName</name>
            <value>
                <elementReference>CFO_Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varOpportunityId</name>
            <value>
                <elementReference>Create_Opportunity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varRole</name>
            <value>
                <stringValue>CFO</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Create_COO_Opportunity_Roles_0</name>
        <label>Create COO Opportunity Roles</label>
        <locationX>868</locationX>
        <locationY>677</locationY>
        <connector>
            <targetReference>Incentive_Manager_Completed</targetReference>
        </connector>
        <flowName>EconDev_Subflow_Opportunity_Roles</flowName>
        <inputAssignments>
            <name>varAccountID</name>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFirstName</name>
            <value>
                <elementReference>COO_FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varLastName</name>
            <value>
                <elementReference>COO_Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varOpportunityId</name>
            <value>
                <elementReference>Create_Opportunity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varRole</name>
            <value>
                <stringValue>COO</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Create_Incentive_Manager_Opportunity_Roles</name>
        <label>Create Incentive Manager Opportunity Roles</label>
        <locationX>1006</locationX>
        <locationY>680</locationY>
        <connector>
            <targetReference>Project_Information</targetReference>
        </connector>
        <flowName>EconDev_Subflow_Opportunity_Roles</flowName>
        <inputAssignments>
            <name>varAccountID</name>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFirstName</name>
            <value>
                <elementReference>Incentive_ManagerFirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varLastName</name>
            <value>
                <elementReference>Incentive_Manager_Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varOpportunityId</name>
            <value>
                <elementReference>Create_Opportunity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varRole</name>
            <value>
                <stringValue>Incentive Manager</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>varFundingRequest</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>outfunds__Funding_Request__c</objectType>
    </variables>
    <variables>
        <name>varFundingRequeststoCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>outfunds__Funding_Request__c</objectType>
    </variables>
    <variables>
        <name>varIsError</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varSelectedPrograms</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>outfunds__Funding_Program__c</objectType>
    </variables>
    <variables>
        <name>varSelectedSite</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varSelectedSites</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
